.first_jumbo_partners{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../public/img/ourPartners.jpg');
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    height: 450px;
    padding: 190px 15% 0;
    margin-bottom: 0;
}
.first_jumbo_partners p{
    font-size: xx-large;
}